---
const { type, title, href } = Astro.props;
---

<div class=`${type}__text-slider`>
  <div class=`${type}__text-slider-single`>
    <h2 class="h1">
      <a href={href}>
        {title}
        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
      </a>
    </h2>
  </div>
  <div class=`${type}__text-slider-single`>
    <h2 class="h1">
      <a href={href}>
        {title}
        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
      </a>
    </h2>
  </div>
  <div class=`${type}__text-slider-single`>
    <h2 class="h1">
      <a href={href}>
        {title}
        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
      </a>
    </h2>
  </div>
  <div class=`${type}__text-slider-single`>
    <h2 class="h1">
      <a href={href}>
        {title}
        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
      </a>
    </h2>
  </div>
  <div class=`${type}__text-slider-single`>
    <h2 class="h1">
      <a href={href}>
        {title}
        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
      </a>
    </h2>
  </div>
  <div class=`${type}__text-slider-single`>
    <h2 class="h1">
      <a href={href}>
        {title}
        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
      </a>
    </h2>
  </div>
  <div class=`${type}__text-slider-single`>
    <h2 class="h1">
      <a href={href}>
        {title}
        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
      </a>
    </h2>
  </div>
</div>
